@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800&display=swap'); /*font-family: 'Montserrat', sans-serif;*/

* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    height: 10vh;
    background-color: #fafafa;
}

header .logo {
    float: left;
    margin-left: 450px;
    margin-top: 20px
}

header .menu {
    float: right;
    margin-right: 450px;
    margin-top: 30px;
}

header nav a {
    margin: 5px;
    padding: 10px;
    color: #222221;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-decoration: none;
}

header nav a:hover {
    background-color: #b7a7f2;
    border-radius: 5px;
    transition: 0.4s all linear;
}

#banner-principal .woman {
    position: relative;
    text-align: center;
}

#banner-principal .text-banner {
    position: absolute;
    width: 350px;
    top: 30%;
    left: 980px;
}

#banner-principal .text-banner h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 10px;
    color: #fafafa;
}

#banner-principal .text-banner p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: justify;
    color: #fafafa;
}

#banner-principal .text-banner button {
    background-color: #b7a7f2;
    color: #222221;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

#banner-principal .text-banner button:hover {
    background-color: lightpink;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    transition: 0.4s all linear;
}

#gallery h1 {
    text-align: center;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

#gallery .blocks {
    margin-top: 20px;
    text-align: center;
    height: 40vh;
    font-family: 'Montserrat', sans-serif;
}

#gallery .blocks .block1 {
    display: inline-block;
    text-align: center;
    padding: 0px 10px;    
}

#gallery .blocks .block1 h2 {
    font-size: 1.2em;
    margin-top: 10px;
}

#gallery .blocks .block1 p {
    font-size: 0.9em;
}

#gallery .blocks .block2 {
    display: inline-block;
    text-align: center;
    padding: 0px 10px;
}

#gallery .blocks .block2 h2 {
    font-size: 1.2em;
    margin-top: 10px;
}

#gallery .blocks .block2 p {
    font-size: 0.9em;
}

#gallery .blocks .block3 {
    display: inline-block;
    text-align: center;
    padding: 0px 10px;
}

#gallery .blocks .block3 h2 {
    font-size: 1.2em;
    margin-top: 10px;
}

#gallery .blocks .block3 p {
    font-size: 0.9em;
}